body{
  text-align: center;
  background-color: #97e5ef;
}

.middle{
  margin-top:50px;
  margin-left: 50px;
  margin-right: auto;
  margin-bottom: auto;
}

.navbar{
  background-color: #fe346e;
}
.logo{
  border-radius: 100%;
  height:100px;
}
